<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Books Home</title>
    <link rel="stylesheet" type="text/css" href="../static/home2.css">
    <!-- <img src="../static/images/library-1.jpg" alt="library picture"> -->

  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Welcome, {{curUser}}</h1>
        <a href="/new">Add Book and Review</a>  <a href="/logout">Logout</a>
      </div>
      <div class="recent">
        <h2>Recent Books Reviewed:</h2>
        <div class="recentBookList">
          {% for book in books %}

            {% if  curUser == book.user.first_name %}
            <h2><a href="/review/{{ book.id }}">{{ book.title }}</a> | <a id="a2" href="/deleteBook/{{ book.id }}">Delete</a></h2>
            {% endif %}

            {% if  curUser != book.user.first_name %}
            <h2><a href="/review/{{ book.id }}">{{ book.title }}</a></h2>
            {% endif %}

          {% endfor %}
        </div>
      </div>
      <div class="other">
        <h2>Other Books with Reviews:</h2>
        <div class="otherBookList">
          {% for book in otherBooks %}

            {% if  curUser == book.user.first_name %}
            <p><a href="/review/{{ book.id }}">{{ book.title }}</a> | <a id="a2" href="/deleteBook/{{ book.id }}">Delete</a></p>
            {% endif %}

            {% if  curUser != book.user.first_name %}
            <p><a href="/review/{{ book.id }}">{{ book.title }}</a></p>
            {% endif %}

          {% endfor %}
        </div>
      </div>

    </div>

  </body>
</html>
